.counter {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter__heading {
  background-color: white ;
}

.counter__total {
  background-color: white;
}

.counter__button {
  border-radius: 16px;
  border-style: none;
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}