.employee-card {
  border-radius: 16px;
  padding: 1rem;
  height: 300px;
  width: 200px;
  background-color: white;
  margin: 1.5rem;
}

.employee-card__heading {
  background-color: white;
  text-align: center;
}

.hr {
  border: solid paleturquoise 3px;
}