.employee-card {
  border-radius: 16px;
  padding: 1rem;
  height: 280px;
  width: 180px;
  background-color: white;
}

.employee-card__heading {
  font-family: 'Segoe UI', sans-serif;
  background-color: white;
}