.employee-card {
  border-radius: 16px;
  padding: 1rem;
  height: 300px;
  width: 200px;
  background-color: white;
  margin: 1.5rem;
  grid-column-start: 1;
}

.employee-card__heading {
  background-color: white;
  text-align: center;
}

.employee-card__divider {
  border-style: none;
  border: solid rgba(57, 178, 248, 0.644) 0.5px;
  background-color: rgba(117, 188, 255, 0.644);
  width: 100%;
  margin: 0;
}