@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Noto+Serif+Display:wght@200;300;400&family=Outfit:wght@300&display=swap');

*{
font-family: 'Josefin Sans', sans-serif;
background-color: lavender;
}

.app-header__img{
  height:200px;
  width: 100%;
}  


.app-heading {
  font-family: 'Segoe UI' sans-serif;
  color: black;
  position: relative;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  margin: 2rem;
 }
  
 .app-content {
   margin: 2rem;
   display: flex;
   gap: 1rem;
 }
