.navbar {
 height: 30px;
 z-index: 2;
 display: flex;
 justify-content: space-between;
 margin:3rem;
 background-color: transparent;
 position: relative;
 top:40px;

 .navbar-logo {
  height: 38px;
  background-color: transparent;
 }

 .navbar-userMenu{
  height: 38px;
  background-color: transparent;
 }
}
