.nav-menu {
 z-index: 2;
 display: flex;
 justify-content: space-between;
 margin:3rem;
 position: relative;
 top:-380px;

  &__logo {
    height: 40px;
  }

  &__user {
    height: 40px;
  }
}

.nav-header {
  position: relative;
  left: 70px;
  top:-430px;

  &__greeting  {
    color: white;
    margin-left: 4rem;
    font-size: 3rem; 
    padding-top: 1rem;
    padding-bottom: 0;
    line-height:10%;
  }

  &__username {
    color: white;
    margin-left: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    font-size: 2rem;
  }
}  
    

